*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: rgba(240, 255, 255, 0.779); 

}


.QuizFont{
    height: 500px;
    width: 300px;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: rgb(0, 0, 0) 0px 10px 30px;
    border-radius: 45px;
    opacity: 1 ;
}

.QuizFont .Qimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fontText{
    justify-content: center;
    text-align: start;
    padding: 15px;
}

.fontText p{
    font-size: 16px;
    margin-bottom: 10px;
}
.button .start{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background-color: rgb(0, 123, 255);
    color: white;
    font-size: 18px;
    border-radius: 0px 0px 45px 45px;
    cursor: pointer;
    margin-top:-14px ;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}
.button .start:hover{
    background-color: tomato;
}


/* part 2 */

.Rulesbox.activerules{
    z-index: 5;
    opacity: 1;
    pointer-events:auto;
}

.Rulesbox{
    height: 500px;
    width: 300px;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: rgb(0, 0, 0) 0px 10px 30px;
    border-radius: 45px;
    opacity: 0;
    pointer-events: none;
}
.Rulesbox .Rtitle{
    width: 100%;
    margin: 20px 0;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(153, 152, 152);
}

.Rulesbox .rules{
    width: 80%;
    margin: auto;
    
}
.Rulesbox .rules li{
    margin-bottom: 22px;
    font-size: 17px;
    line-height: 25px;
}

.Rbuttons button{
   padding: 13px 25px;
   background-color: rgb(0, 123, 255);;
   border: none;
   outline: none;
   font-size: 15px;
   font-weight: bold;
   color: white;
   border-radius: 0 40px 0 45px;
   position: relative;
   bottom: -18px;
}
.Rbuttons button:hover{
    background-color: red;
}
.Rbuttons .Continue{
    border-radius: 45px 0 45px 0;
    right: -70px;
}
.Rbuttons .Continue:hover{
    background-color: tomato;
}

.Questions.activeQuiz{
    opacity: 1;
    z-index: 4;
    pointer-events: auto;
}
.Questions{
    height: 500px;
    width: 300px;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: rgb(0, 0, 0) 0px 10px 30px;
    border-radius: 45px;
    opacity: 0;
    pointer-events: none;

}

.Questions .Qtitle{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    text-align: center;

}
.Questions .Qtitle .startExm{
    font-size: 18px;
    font-weight: bold;
}
.Questions .Qtitle .times{
    display: flex;
    margin-right: 15px;
}
.Questions .Qtitle .times .timeoff{
    background-color: rgba(146, 146, 146, 0.511);
    padding: 0 5px ;
    padding-right: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-shadow: 2px 2px 5px white;
}
.Questions .Qtitle .times .second{
    background-color: rgb(179, 0, 0);
    color: rgb(255, 255, 255);
    padding: 0 10px;
    border-radius: 7px;
    font-weight: bold;
    position: relative;
    right: 7px;
}
.runTime{
    position: absolute;
    top: 60px;
    left: 0;
    height: 3px;
    background: rgb(0, 119, 255);

}

.Questions .section{
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 33px;
    
}
.Questions .section .Que{
    margin: 10px;
    font-size: 20px;
    font-weight: 500;

}
.Questions .section .Myoptions{
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    display: block;
}

.Questions .section .Myoptions .option.correct{
    background-color: rgba(123, 248, 116, 0.605);
    border: 2px solid rgb(0, 128, 0);
}

.Questions .section .Myoptions .option.incorrect{
    background-color: rgba(255, 0, 0, 0.231);
    border: 2px solid rgba(255, 0, 0, 0.463);
}
.Questions .section .Myoptions .option.disabled{
    pointer-events: none;
}


.Questions .section .Myoptions .option{
    background-color: rgba(174, 220, 255, 0.527);
    border: 2px solid rgba(24, 107, 231, 0.352);
    text-align: start;
    padding: 10px;
    margin-bottom: 24px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.Questions .section .Myoptions .option i{
    position: relative;
    left: 0;
}


.Questions .section .Myoptions .option:hover{
     background-color: rgb(174, 220, 255);
    border: 2px solid rgba(24, 107, 231, 0.705);
}

.Questions footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 13px;

    position: relative;
    bottom: -5px;
}
.Questions footer .total_que{
    margin: 5px 12px ;
    font-size: 16px;
    font-weight: 500;
}
.Questions footer .next_button button{
    padding: 13px 44px;
    background-color: rgb(0, 123, 255);;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border-radius: 40px 0 45px 0;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    position: relative;
    bottom: -17px;
    right: -13px;
    transition: all 0.2s ease-in;
    display: none;
}
.Questions footer .next_button button:hover{
    background-color: tomato;
}


.resultbox.activeResult{
    z-index: 5 ;
    opacity: 1 ;
    pointer-events: auto;

}

.resultbox{
    height: 500px;
    width: 300px;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: rgb(0, 0, 0) 0px 10px 30px;
    border-radius: 45px;
    opacity: 0 ;
    pointer-events: none;
}

.resultbox img{
    width: 100%;
    padding: 10px;
    text-align: center;
}

.resultbox .complet{
    text-align: center;
    margin: 20px ;
    font-size: 20px;
    font-weight: 500;
    color: rebeccapurple;
}
.resultbox .score span{
    display: flex;
    justify-content: center;
    margin: 5px;
    font-size: 15px;
    
}
.resultbox .score span p{
    margin:0 10px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.733);
    padding: 0 5px 3px 4px;
    border-radius: 5px;
    justify-content: center;
}
.resultbtn button{
    align-items: center;
    position: relative;
    left: 4%;
    margin-top: 50px;
    padding:10px 35px;
    background-color: gray;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    font-weight: bolder;
    margin-left: 10px;
    cursor: pointer;
    

}

.resultbtn .quitbtn:hover{
    background-color: rebeccapurple;

}
.resultbtn .replaybtn:hover{
    background-color: indianred;
}